{%extends "base.html"%}
{% block headextra %}
{{ form.media }}
{% endblock headextra %}

{% load crispy_forms_tags %}

{% block path %}
 <a href="{% url 'cms:subject_list' %}"> Home </a> | <a href="{{chapter_instance.get_subject_select_from_chapter}}" >{{chapter_instance.subject}} </a> | <a href = "{{chapter_instance.get_chapter_select_url}}" >{{chapter_instance.chapter_name}} </a> | <a href = "{{chapter_instance.get_numerical_list_url}}"> Numericals </a>

{% endblock path %}

{% block content %}
<div class = 'col-sm-6 col-sm-offset-2'>
	<p>{{chapter_instance.chapter_name}}</p>
	<small>{{chapter_instance.subject}}</small>
	<form method = 'POST' action = '' enctype = 'multipart/form-data'>
	{% csrf_token %}
	{{form|crispy}}
	<input type="submit" class= 'btn btn-default' value = "Okay"/>
	</form>
</div>
{%endblock content %}